.skeleton {
    opacity: 1;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(56, 56, 56);
    }

    100% {
        background-color: rgb(43, 48, 53);
    }
}